.favorites {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background: linear-gradient(270deg, #724d77 0%, #35519C 100%);
   button {
      width: 200px;
      height: 40px;
      background: linear-gradient(270deg, #c42c34 0%, #aa23b6 100%);
      cursor: pointer;
      color: rgb(255, 255, 255);
      outline: none;
      border-radius: 5px;
      border: 0;
      padding: 0;
      margin-bottom: 20px; 
   }
   p {
      color: white;
      text-align: center;
      // font-size: 16;
   }
   h2 {
      text-align: center;
      color: white;
      // display: flex;
      // justify-content: center;
   }
   .favorites_item {
      padding: 5px 20px;
      .favorites_item_total {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-around;
         .favorites_item_card {
            display: flex;
            margin-bottom: 50px;
            align-items: center;
            .favorites_item_card_info {
               display: flex;
               width: 267px;
               flex-direction: column;
               align-items: center;
               justify-content: space-between;
            }
            img {
               width: 267px;
               height: 400px;
            }
         }
      }
      @media (max-width: 548px) {
         .favorites_item_total{
            .favorites_item_card{
               .favorites_item_card_info{
                  width: 200px;
                  font-size: 12px;
               }
               img{
                  width: 200px;
                  height: 330px;
               }
            }  
         }
      }
      @media (max-width: 410px) {
         .favorites_item_total{
            .favorites_item_card{
               .favorites_item_card_info{
                  width: 150px;
                  font-size: 10px;
               }
               img{
                  width: 150px;
                  height: 230px;
               }
               button{
                  width: 144px;
                  height: 34px;
                  font-size: 10px;
               }
            }  
         }
      }
   }
}
