.auth{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100vw;
   height: 100vh;
   background: linear-gradient(270deg, #724d77 0%, #35519C 100%);
   .form{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50%;
      width: 300px;
      height: 450px;
      // background: white;
      input {
         border-radius: 10px;
         border: 0;
         padding: 0; 
         width: 270px;
         height: 30px;
         margin-top: 10px;
      }
      input:focus {
         color: #212529;
         background-color: #fff;
         border-color: #bdbdbd;
         outline: 0;
         box-shadow: 0 0 0 0.4rem rgba(1, 196, 245, 0.25);
      }
      label {
         display: block;
         margin-bottom: 0.25rem;
         color: white;
      }
      button {
         margin-top: 10px;
         width: 150px;
         height: 30px;
         background: linear-gradient(270deg, #c42c34 0%, #aa23b6 100%);
         cursor: pointer;
         color: rgb(255, 255, 255);
         outline: none;
         border-radius: 5px;
         border: 0;
         padding: 0; 
      }
      a {
         color: white;
         margin-top: 5px;
      }
   }
}