.header {
   display: flex;
   justify-content: center;
   background: linear-gradient(270deg, #724d77 0%, #35519C 100%);
   .header_center_block{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1100px;
      height: 60px;
      border-bottom: solid silver 1px;
      padding: 0 0 10px 0;
   
      .singlUp {
         margin-top: 20px;
         display: flex;
         justify-content: space-around;
         width: 300px;
         align-items: center;
         p{
            color:rgb(255, 255, 255)
         }
      }
      .baskets{
         margin-top: 20px;
         display: flex;
         justify-content: space-around;
         width: 300px;
      }
      .hamburger{
         display: none;
         @media (max-width: 600px) {
            display: flex;
         }
         img{
            width: 40px;
            height: 40px;
            margin-right: 68px;
            cursor: pointer;
         }
      }
      button {
         width: 100px;
         height: 30px;
         background: linear-gradient(270deg, #c42c34 0%, #aa23b6 100%);
         cursor: pointer;
         color: rgb(255, 255, 255);
         outline: none;
         border-radius: 5px;
         border: 0;
         padding: 0; 
      }
      button:hover{
         box-shadow: 0 0 10px rgba(0,0,0,0.5)
      }
   }
   .modal_hamburger{
      position: fixed;
      display: flex;
      width: 100%;
      height: 100%;
      background: linear-gradient(270deg, #724d77 0%, #35519C 100%);
      flex-direction: column;
      align-items: center;
      .imgEsc{
         display: flex;
         justify-content: flex-end;
         margin-top: 20px;
         img{
            width: 40px;
            height: 40px;
            margin-right: 20px;
         }
      }
      .imgEsc{
         width: 100%;
         display: flex;
      }
      .modal_hamburger_center{
         display: flex;
         width: 259px;
         height: 100%;
         margin-top: 100px;
         flex-direction: column;
         align-items: center;
         justify-content: flex-start;
         button {
            width: 255px;
            height: 48px;
            margin-bottom: 20px;
            background: linear-gradient(270deg, #c42c34 0%, #aa23b6 100%);
            cursor: pointer;
            color: white;
            outline: none;
            border-radius: 5px;
            border: 0;
            font-size: 16px;
            padding: 0;
         }
         button:hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.5)
         }
      }
   }
   @media (max-width: 600px) {
      .header_center_block{
         align-items: center;
         max-width: 444px;
         .singlUp{
            margin-top: 0;
         }
         .logOut{
            display: none;
         }
         .baskets{
            display: none;
         }
      }
   }
   @media (max-width: 408px) {
      .header_center_block{
         max-width: 330px;
         .hamburger{
            img{
               margin-right: 35px;
            }
         }
      }
   }
   
}
