.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(270deg, #724d77 0%, #35519C 100%);
    min-height: 90vh;
    .select_form{
        z-index: 99;
        display: flex;
        max-width: 1100px;
        height: 100px;
        align-items: center;
        justify-content: space-between;
        .buttons_form{
            display: flex;
            height: 76px;
            width: 48%;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;        
            button{
                width: 110px;
                height: 30px;
                background: linear-gradient(270deg, #c42c34 0%, #aa23b6 100%);
                cursor: pointer;
                color: rgb(255, 255, 255);
                outline: none;
                border-radius: 5px;
                border: 0;
                padding: 0; 
            }
            button:hover{
                box-shadow: 0 0 10px rgba(0,0,0,0.5)
            }
        }
        .render-form{
            display: flex;
            align-items: center;
            .select_year{
                color: #fff; 
                padding: .6em 1.4em .5em .8em;
                width: 123px;
                box-sizing: border-box; 
                margin: 0; 
                box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
                border-radius: .5em;
                outline: none;
                appearance: none;
                background-color: #fff; 
                background: linear-gradient(270deg, #c42c348f 0%, #aa23b6a1 100%);
                margin-right: 10px;
                option {
                    color: black;
                }
            }
            .form{
                input{
                    outline: none;
                    padding: .6em 1.4em .5em .8em;
                    width: 200px;
                    height: 30px;
                    box-sizing: border-box; 
                    margin: 0; 
                    border: 1px solid #926666;
                    box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
                    border-radius: .5em;
                    background: linear-gradient(270deg, #c42c348f 0%, #aa23b6a1 100%);
                    color: white;
                }
                button{
                    width: 110px;
                    height: 30px;
                    background: linear-gradient(270deg, #c42c348f 0%, #aa23b6a1 100%);
                    cursor: pointer;
                    color: rgb(255, 255, 255);
                    outline: none;
                    border-radius: 5px;
                    padding: 0; 
                    border: 1px solid #926666;
                }
                button:hover{
                    box-shadow: 0 0 10px rgba(0,0,0,0.5)
                }
            }
        }
        @media (max-width: 930px) {
            display: flex;
            height: 120px;
            flex-direction: column;
            .buttons_form{
                width: 444px;
            }
        }
        @media (max-width: 450px) {
            height: 177px;
            .buttons_form{
                width: 350px;
                height: 107px;
                justify-content: space-evenly;
            }
            .render-form{
                height: 68px;
                justify-content: space-between;
                flex-direction: column;
                .select_year{
                    width: 150px;
                    margin-right: 0;
                }
            }
        }
    }
    .items-list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px 0 20px 0;
        max-width: 1600px;
        margin-top: -16px;
        .films_wrapper{
            display: flex;
            width: 300px;
            height: 400px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .films{
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 10px;
                width: 200px;
                height: 360px;
                background: linear-gradient(270deg, #834b8b 0%, #2648a5 100%);
                box-shadow: 0 0 30px rgba(0,0,0,0.8);
                transition: all 0.5s;
                img{
                    width: 200px;
                    height: 300px;
                    border-radius: 10px 10px 0 0;
                    transition: all 0.5s;
                }
                p{
                    text-align: center;
                    font-size: 14px;
                    color: #dcc6ff;
                }
            }
            .films:hover{
                position: absolute;
                z-index: 1;
                width: 220px;
                height: 380px;
                img{
                    width: 220px;
                    height: 320px;
                }
            }
        }
    }
}
.current_item{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .current_item_bakground {
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .current_item_content {
        z-index: 10;
        width: 60%;
        height: 60%;
        border-radius: 30px;
        background-color: #475459ad;
        color: white;
        padding: 30px;
        .current_item_add_mylist {
            width: 100%;
            display: flex;
            justify-content: space-between;
            img {
                border: 0;
                width: 40px;
                height: 40px;
            }
            button {
                height: 25px;
                padding: 5px 10px;
                background-color: #161d20;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }
        .current_item_release {
           display: flex;
            align-items: center;
        }
        .current_item_vote {
            display: flex;
            align-items: center;
        }
        .current_item_budget {
            display: flex;
            align-items: center;
        }
        .current_item_homepage {
            margin-top: 20px; 
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            a{
                text-decoration: none;
                color: #fff;
                background-color: #0CD0FC;
                padding: 5px 10px;
                border-radius: 5px;
            }
            .current_item_genres {
                // display: flex;
                span{
                    border: 1px solid #0CD0FC;
                    margin-left: 10px;
                    padding: 5px 10px;
                    border-radius: 10px;
                    cursor: default;
                }
            }
        }
        .span{
            color: #24a0fc;
            font-weight: 700;
        }
        p{
            line-height: 1.3
        }
    }
}
.pagination {
    margin-bottom: 20px;
}


@media (max-width: 767px) {
    .current_item {
        .current_item_content {
            width: 65%;
            height: 82%;
        }
        .current_item_homepage {
            align-content: space-between;
            height: 80px;
            span {
                margin-left: 5px;
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 479px) {
    .current_item {
        .current_item_content {
            width: 80%;
            height: 85%;
            font-size: 16px;
        }
        .current_item_homepage {
            span {
                margin-left: 5px;
                margin-top: 10px;
            }
        }
        .current_item_genres {
            display: flex;
            flex-direction: column;
            font-size: 10px;
        }
    }
}